@model biblioon.Models.Autor

@{
    ViewData["Title"] = ViewData["Title"] ?? "Autor";
}

<div class="grid-autores">
    <div class="grid-titleautores">
		@Model.Nome
	</div>
    
    @if (User.IsInRole("Bibliotecario"))
    {
    <div class="linksbibliotecario">
            <a class="linksbibliotecario" href="/Bibliotecario/Autores/Edit/@Model.Id">[ EDITAR AUTOR NO PAINEL DE BIBLIOTECÁRIO ]</a>
    </div>
    }
</div>
<div class="grid-colunasa">
    <div class="grid-item"> </div>
	<div class="grid-item7">
    <img height="250" src="@(!string.IsNullOrEmpty(Model.Foto) ? Model.Foto : "/images/placeholder.svg")" alt="Foto do Autor">
	</div>
	<div class="grid-autorestxt">
            @(!string.IsNullOrEmpty(Model.Desc) ? Model.Desc: "< sem descrição >")
	</div>
</div>

<div class="grid-autores">
    <div class="grid-titleautores">
    Mais Livros deste Autor
    </div>
      
    <div class="rowautores">
        @if (Model.EdiLivros == null || !Model.EdiLivros.Any())
        {
            <div class="grid-book">
                <p>&lt; sem livros &gt;</p>
            </div>
        }
        else
        {
            @foreach (var livro in Model.EdiLivros)
            {

                <div class="grid-book">
                    <div>
                        <a href="#" class="bookcover">
                            <div>
                                <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/home/livro/@livro.Isbn" class="bookproperty1">
                            @livro.Titulo
                        </a>
                    </div>
                    <div>
                        <span class="bookproperty2">
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </span>
                    </div>
                </div>
            }
        }
    </div>
</div>
