@model IEnumerable<biblioon.Models.Emprestimo>

@{
	ViewData["Title"] = "Historico";
}
<div class="border">
    <div class="row9">
        <div class="grid-item">
            Historico
        </div>
    </div>

    <div class="row9" id="itemContainer">
        @foreach (var emprestimo in Model)
        {
            <div class="item">
                <div class="row8">
                    <div class="grid-item">
                        <img height="250" src="@(!string.IsNullOrEmpty(@emprestimo.EdiLivro.Capa) ? @emprestimo.EdiLivro.Capa : "/images/placeholder.svg")" alt="Capa do Livro">
                    </div>
                    <div>
                        <div>
                            <a href="/home/livro/@emprestimo.EdiLivroISBN">@emprestimo.EdiLivro.Titulo</a></div>
                        <div>
                            Autores:
                            @{
                                var autorNames = emprestimo.EdiLivro.Autores.Select(a => $"<a href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                        <div>Levantado?: @(emprestimo.IsLevantado ? "Sim" : "Não")</div>
                        <div>Entregue?: @(emprestimo.IsEntregue ? "Sim" : "Não")</div>

                        <div>Data Requisição: @emprestimo.DataRequisitado.ToString("dd/MM/yyyy")</div>
                        <div>Data Levantamento: @(emprestimo.DataLevantamento?.ToString("dd/MM/yyyy") ?? "N/A")</div>
                        <div>Data Limite Entrega: @emprestimo.DataLimiteEntrega.ToString("dd/MM/yyyy")</div>
                        <div>Data Entrega: @(emprestimo.DataEntrega?.ToString("dd/MM/yyyy") ?? "N/A")</div>
                        <div>ID unidade: @emprestimo.UniLivro.Id</div>
                        <div>ID empréstimo: @emprestimo.Id</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>