@{
    ViewData["Title"] = "Home Page";
    var lExatas = ViewData["lExatas"] as List<biblioon.Models.EdiLivro>;
    var lNaturais = ViewData["lNaturais"] as List<biblioon.Models.EdiLivro>;
    var lTecnologicas = ViewData["lTecnologicas"] as List<biblioon.Models.EdiLivro>;
    var lAgrarias = ViewData["lAgrarias"] as List<biblioon.Models.EdiLivro>;
    var lHumanas = ViewData["lHumanas"] as List<biblioon.Models.EdiLivro>;
    var lSaude = ViewData["lSaude"] as List<biblioon.Models.EdiLivro>;
    var lFiccao = ViewData["lFiccao"] as List<biblioon.Models.EdiLivro>;
    var lNaoFiccao = ViewData["lNaoFiccao"] as List<biblioon.Models.EdiLivro>;
}

<div class="borderindex">

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Exatas
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>

        </div>
        <div class="row6">

            @if (lExatas == null || !lExatas.Any())
            {
                <p>&lt; sem livros &gt</p>
            }
            else
            {
                @foreach (var livro in lExatas)
                {
                    <div class="grid-book">
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookcover">
                                <div>
                                    <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookproperty1">
                                @livro.Titulo
                            </a>
                        </div>
                        <div>
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                    </div>
                }
            }
    </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Naturais
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
            </div>
        </div>
        <div class="row6">

            @if (lNaturais == null || !lNaturais.Any())
            {
                <p>&lt; sem livros &gt</p>
            }
            else
            {
                @foreach (var livro in lNaturais)
                {
                    <div class="grid-book">
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookcover">
                                <div>
                                    <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookproperty1">
                                @livro.Titulo
                            </a>
                        </div>
                        <div>
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                    </div>
                }
            }
        </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Tecnológicas
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div>
        </div>
        <div class="row6">

            @if (lTecnologicas == null || !lTecnologicas.Any())
            {
                <p>&lt; sem livros &gt</p>
            }
            else
            {
                @foreach (var livro in lTecnologicas)
                {
                    <div class="grid-book">
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookcover">
                                <div>
                                    <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookproperty1">
                                @livro.Titulo
                            </a>
                        </div>
                        <div>
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                    </div>
                }
            }
        </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Agrárias
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div> </div>
        <div class="row6">

            @if (lAgrarias == null || !lAgrarias.Any())
            {
                <p>&lt; sem livros &gt</p>
            }
            else
            {
                @foreach (var livro in lAgrarias)
                {
                    <div class="grid-book">
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookcover">
                                <div>
                                    <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookproperty1">
                                @livro.Titulo
                            </a>
                        </div>
                        <div>
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                    </div>
                }
            }
    </div>


    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências Humanas e Socias
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div> </div>

        <div class="row6">

            @if (lHumanas == null || !lHumanas.Any())
            {
                <p>&lt; sem livros &gt</p>
            }
            else
            {
                @foreach (var livro in lHumanas)
                {
                    <div class="grid-book">
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookcover">
                                <div>
                                    <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookproperty1">
                                @livro.Titulo
                            </a>
                        </div>
                        <div>
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                    </div>
                }
            }
    </div>

    <div class="rowbooks1">
        <div class="bookcategory">
            Ciências da Saúde
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div> </div>

        <div class="row6">

            @if (lSaude == null || !lSaude.Any())
            {
                <p>&lt; sem livros &gt</p>
            }
            else
            {
                @foreach (var livro in lSaude)
                {
                    <div class="grid-book">
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookcover">
                                <div>
                                    <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookproperty1">
                                @livro.Titulo
                            </a>
                        </div>
                        <div>
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                    </div>
                }
            }
        </div>


    <div class="rowbooks1">
        <div class="bookcategory">
            Livros de Ficção
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div> </div>

        <div class="row6">

            @if (lFiccao == null || !lFiccao.Any())
            {
                <p>&lt; sem livros &gt</p>
            }
            else
            {
                @foreach (var livro in lFiccao)
                {
                    <div class="grid-book">
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookcover">
                                <div>
                                    <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookproperty1">
                                @livro.Titulo
                            </a>
                        </div>
                        <div>
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                    </div>
                }
            }
    </div>


    <div class="rowbooks1">
        <div class="bookcategory">
            Livros de Não Ficção
        </div>
        <div class="grid-item"> </div>
        <div class="grid-item"> </div>
        <div class="grid-item6">
            <a href="#" class="booklink">
                See all
            </a>
        </div> </div>

        <div class="row6">

            @if (lNaoFiccao == null || !lNaoFiccao.Any())
            {
                <p>&lt; sem livros &gt</p>
            }
            else
            {
                @foreach (var livro in lNaoFiccao)
                {
                    <div class="grid-book">
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookcover">
                                <div>
                                    <img width="175" src="@(!string.IsNullOrEmpty(livro.Capa) ? livro.Capa : "/images/placeholder.svg")">
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="@Url.Action("Livro", "Home", new { id = livro.Isbn })" class="bookproperty1">
                                @livro.Titulo
                            </a>
                        </div>
                        <div>
                            @{
                                var autorNames = livro.Autores.Select(a => $"<a class=\"bookproperty2\" href=\"/home/autor/{a.Id}\">{a.Nome}</a>");
                                @Html.Raw(string.Join(", ", autorNames))
                            }
                        </div>
                    </div>
                }
            }
        </div>

</div>







