@model biblioon.Models.EdiLivro

@{
    ViewData["Title"] = ViewData["Title"] ?? "Livro";
}

<div class="grid-titleautores" style="margin: 50px 0px 0px 0px">
    @Model.Titulo
</div>

<div class="borderlivro">
    @if (User.IsInRole("Bibliotecario"))
    {
        <div class="linksbibliotecario" style="text-align: center;">
            <a class="linksbibliotecario" href="/Bibliotecario/EdiLivros/Edit/@Model.Isbn">[editar livro no painel bibliotecário]</a>
    </div>
    }
    <div class="gridlivro1">
        <div>
            <img height="250" src="@(!string.IsNullOrEmpty(Model.Capa) ? Model.Capa : "/images/placeholder.svg")" alt="Capa do Livro">
        </div>
        <div class="grid-rowslivro">
            <div>
                @{
                    var autorNames = Model.Autores.Select(a => $"<a class=\"livrotexto\" style=\"text-align:left\" href=\"/home/autor/{a.Id}\">De {a.Nome}</a>");
                    @Html.Raw(string.Join(", ", autorNames))
                }
            </div>


            @if (Model.UniLivros != null && Model.UniLivros.Any())
            {
                <div class="colunaslivro">
                    <div class="livrotextotitulo" style="text-align:left">
                        EXEMPLARES DISPONÍVEIS:
                    </div>
                    @if (User.IsInRole("Bibliotecario"))
                    {
                        <div class="linksbibliotecario2">
                            <a class="linksbibliotecario2" style="text-align:left" href="/Bibliotecario/UniLivros/?isbn=@Model.Isbn">[editar no painel bibliotecário]</a>
                        </div>
                    }
                </div>    



                var counter = 1;
                @foreach (var e in Model.UniLivros)
                {
                    <div class="colunaslivro">
                        <div class="livrotexto2 " style="text-align:left">
                            @counter. Exemplar @counter: @e.Estado
                        </div>
                            @if (e.Requisitado == false && e.Disponivel == true)
                            {
                                <div class="livrotexto2">
                                    <a class="buttonreq" href="/home/requisitar/@e.Id">REQUISITAR</a>
                                </div>
                            }
                            else
                            {
                                <div class="livrotexto2">
                                    <button disabled class="buttonreq">INDISPONÍVEL</button>
                                </div>
                            }
                    </div>
                    counter++;
                }
            }
            else
            {
                <div>
                    <p class="livrotexto2" style="text-align:left" >&lt; sem exemplares &gt;</p>
                </div>
            }
        </div>
    </div>
</div>    

<div class="grid-titleautores" style="margin: 50px 0px 0px 0px">
    Sinopse
</div>



<div class="borderlivro2">
    <div class="sinopseborder">
        <p class="livrotexto2">@Model.Sinopse</p>
    </div>
</div>
        <div class="grid-titleautores butgap" style="margin: 50px 0px 0px 0px">
        <button class="buttoninfolivro" onclick="showInfo('livro')">Sobre o Livro</button>
        <button class="buttoninfolivro" onclick="showInfo('autor')">Sobre o Autor</button>
        </div>
<div class="borderlivro2 sinopseborder">
        <div id="info">
            <div id="livroInfo">
                <h2>Sobre o Livro</h2>
                <div class="livrotexto2">
                    ISBN: @Model.Isbn
                </div>
                <div class="livrotexto2">
                    Editor: @Model.Editor.Nome
                </div>
                <div class="livrotexto2">
                    Géneros: @Model.Generos.Select(c => c.Nome).Aggregate((a, b) => $"{a}, {b}")
                </div>
                <div class="livrotexto2">
                    Data de publicação: @Model.DataPublicacao.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div id="autorInfo" style="display:none;">
                <h2>Sobre o Autor</h2>
                @foreach (var autor in Model.Autores)
                {
                    <div class="border1">
                        <div class="row9">
                        <div class="grid-item livrotextotitulo">
                                <span id="nomeAutor">@autor.Nome</span>
                            </div>
                        </div>
                    <div class="gridlivro2">
                        <div class="grid-item9">
                            <img height="250" src="@(!string.IsNullOrEmpty(autor.Foto) ? autor.Foto : "/images/placeholder.svg")" alt="Foto do Autor">
                        </div>
                        <div class="grid-autorestxt9">
                            @(!string.IsNullOrEmpty(autor.Desc) ? autor.Desc : "< sem descrição >")
                        </div>
                        </div>

                    </div>
                }
            </div>
        </div>


    <script>
        function showInfo(type) {
               const livroInfo = document.getElementById('livroInfo');
               const autorInfo = document.getElementById('autorInfo');
                  if (type === 'autor') {
                   livroInfo.style.display = 'none';
                   autorInfo.style.display = 'block';
               } else if (type === 'livro') {
                   livroInfo.style.display = 'block';
                      autorInfo.style.display = 'none';
               }
           }
    </script>
</div>

       
