@model IEnumerable<biblioon.Models.EdiLivro>

@{
    ViewData["Title"] = "Livros (edições)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-autores">
    <div class="grid-titleautores">
        Gestão de Livros (Edições)
    </div>
</div>
<div class="portalborder">

    <div class="portalcolumns">
        <a class="linksbibliotecario" href="/Bibliotecario/">[Início]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/Autores">[Autores]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/EdiLivros">[Edições de Livros]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/UniLivros">[Unidades de Livros]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/Editores">[Editores]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/Reqs">[Requisições]</a>
        <a class="linksbibliotecario" href="/Bibliotecario/Generos">[Géneros]</a>
    </div>

</div>



<div class="portalborder1">
<p>
        <a class="fontlink" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th class="fonttitle">
                Título
            </th>
                <th class="fonttitle">
                @Html.DisplayNameFor(model => model.Autores)
            </th>
                <th class="fonttitle">
                Géneros
            </th>
                <th class="fonttitle">
                @Html.DisplayNameFor(model => model.Sinopse)
            </th>
                <th class="fonttitle">
                @Html.DisplayNameFor(model => model.Capa)
            </th>
                <th class="fonttitle">
                @Html.DisplayNameFor(model => model.Idioma)
            </th>
                <th class="fonttitle">
                Descrição Física
            </th>
            <th>
                Data de Publicação
            </th>
                <th class="fonttitle">
                @Html.DisplayNameFor(model => model.Editor)
            </th>
            <th>
                IBSN
            </th class="fonttitle">
            <th class="fonttitle">
                Código de Barras
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="fonttxt">
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td class="fonttxt">
                @foreach (var autor in item.Autores)
                {
                    <span>@autor.Nome</span>
                    <br />
                }
            </td>
            <td class="fonttxt">
                @foreach (var genero in item.Generos)
                {
                    <span>@genero.Nome</span>
                    <br />
                }
            </td>
            <td class="fonttxt">
                @Html.DisplayFor(modelItem => item.Sinopse)
            </td>
            <td class="fonttxt">
                @if (string.IsNullOrEmpty(item.Capa))
                {
                    <span>&lt;sem fotografia&gt;</span>
                }
                else
                {
                    <img src="@item.Capa" alt="Capa" style="max-width: 100px; max-height: 150px;" />
                }
            </td>
            <td class="fonttxt">
                @Html.DisplayFor(modelItem => item.Idioma)
            </td>
            <td class="fonttxt">
                @Html.DisplayFor(modelItem => item.DescFisica)
            </td>
            <td class="fonttxt">
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td class="fonttxt">
                @Html.DisplayFor(modelItem => item.Editor.Nome)
            </td>
            <td class="fonttxt">
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td class="fonttxt">
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td class="fonttxt">
                        <a class="fontlink" asp-action="Edit" asp-route-id="@item.Isbn">Edit</a> |
                        <a class="fontlink" asp-action="Details" asp-route-id="@item.Isbn">Details</a> |
                        <a class="fontlink" asp-action="Delete" asp-route-id="@item.Isbn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>