@model biblioon.Models.UniLivro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UniLivro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoAquisicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoAquisicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAquisicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAquisicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requisitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requisitado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anotacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anotacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdiLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdiLivro.Isbn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
